@media(min-width: 768px) {
    .news-input{
        width: 50% !important;
    }
}
.d-sm-flex.align-items-center.justify-content-between {
    padding-top: 30px;
}
body::before{
    display: block;
    content: '';
    height: 60px;
}
#map{
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px !important;
}